/** GENERAL BEGINS **/
body{
	background: #F5F5F5;
	padding-top: 50px;
	font-size: 16px;
}


.fa{
	margin: 0 8px;
}

/** GENERAL ENDS **/


/**MAIN CONTENT BEGINS **/
body > header{
	background: #B3D2D5;
	padding: 32px 0;	
}

body > header > .container{
	padding:0;
	background: white;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

section, footer{
	padding: 32px 0;
}

h3{
	font-size: 32px;
	margin-bottom: 16px;
}

footer{
	background: #607D8B	;
}

.post, .widget{
	background: white;
	padding: 16px;
	margin-bottom: 40px;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.widget h4, .widget h3{
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #ddd;
}

.widget ul li.active{
	font-weight: bold;
}

.post .page-header{
	margin: 0 0 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #ddd;
}

.post .post-image{
	padding: 32px;
}

.post h4{
	font-size: 22px;
}

/** MAIN CONTENT ENDS **/

/** GENERAL BOOTSTRAP BEGINS **/

.navbar.navbar-default{
	background: #607D8B	;
	border-radius: 0;
	border: none;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover{
	color: white;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover{
	color: white;
	background: #58727F;
}

.navbar-default .navbar-toggle .icon-bar{
	background: white;
}
.navbar-default .navbar-toggle{
	border: none;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background: transparent;
}

.btn-raised{
	box-shadow: 1px 2px 10px rgba(0,0,0,0.30);
	transition: box-shadow 0.5s;
}
.btn-raised:active{
	box-shadow: 1px 5px 15px rgba(0,0,0,0.15);
	
}
.btn.btn-default.btn-success{
	background: #E2574C;
	border: none;
}

.modal-body{
	padding:16px;
}

/** GENERAL BOOTSTRAP ENDS **/

/** SUBSCRIBE BEGINS **/

#offers{
	padding: 16px;
	background: #607D8B;
	color: white;
}

/** SUBSCRIBE ENDS **/

/** FEAUTURES BEGINS **/

#features{
	text-align: center; 
}

/** FEATURES ENDS **/

/** SUMMARY BEGINS **/

#summary{
	background: #607D8B;
	color:white;
}

#summary h3{
	text-align: center;
}

#summary p {
	text-align: justify;
}

/** SUMMARY ENDS **/

/** SUBSCRIBE BEGINS **/

#subscribe{
	background: url('../img/footer.jpg') no-repeat fixed;
	background-size: cover;
	min-height: 360px;
	text-align: center;
}
/** SUBSCRIBE ENDS **/

/** PRODUCTS BEGINS **/

.image-header{
	background: #B3D2D5;;
	width: 100%;
	display: table;
	padding: 80px;
	text-align: center;
}

/** PRODUCTS ENDS **/
/** CONTACT BEGINS **/

#contact-form{
	margin-top: 32px;
}

/** CONTACT ENDS **/

@media screen and (max-width: 768px){
	header{
		padding: 0;
	}
}